marble-agent/src/main/resources/META-INF/marble.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema
		xmlns="http://www.github.com/jxdong/schema/marble"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:beans="http://www.springframework.org/schema/beans"
		targetNamespace="http://www.github.com/jxdong/schema/marble"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:element name="job">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="description" type="xsd:string" use="optional"/>
					<xsd:attribute name="name" type="xsd:string" use="required"/>
					<xsd:attribute name="ref" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[ref the defined bean]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="scheduler">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:choice minOccurs="1" maxOccurs="unbounded">
						<xsd:element ref="job" minOccurs="1" maxOccurs="50" />
					</xsd:choice>

					<xsd:attribute name="appCode" type="xsd:integer" use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[Marble App Code. required]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<!--
					<xsd:attribute name="appID" type="xsd:string" use="required">-->
						<!--<xsd:annotation>-->
							<!--<xsd:documentation><![CDATA[AppID]]></xsd:documentation>-->
						<!--</xsd:annotation>-->
					<!--</xsd:attribute>
					-->
					<!--<xsd:attribute name="name" type="xsd:string" use="required">-->
						<!--<xsd:annotation>-->
							<!--<xsd:documentation><![CDATA[schedule name. unique]]></xsd:documentation>-->
						<!--</xsd:annotation>-->
					<!--</xsd:attribute>-->
					<xsd:attribute name="host" type="xsd:string" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[IP address. optional]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="port" type="xsd:int" use="optional">
						<xsd:annotation>
							<xsd:documentation><![CDATA[port. default 9090]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>